extends layout

block content
  h1= title
  p Welcome to #{title}
  each message in messages
    p #{message.user} = #{message.text}
  .button-container
   a(href=`https://rocky-sands-61732.herokuapp.com/new`): button.compose= "New message"
